.qx-aum-toolbar-group {
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    z-index: 11111;
}

.qx-aum-toolbar-group > li {
	margin:.5rem;
}